<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Todo List App</h1>
      <app-tasks></app-tasks>
    </div>
  </div>
</div>
